<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="DEV_HOME" value="./logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" >
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %logger{36} [%file : %line] %msg%n</Pattern>
        </encoder>
    </appender>
    <appender name="online" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>${DEV_HOME}/gateway/online.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/gateway/rolling/%d{yyyy-MM-dd}.%i/online.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="offline" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/gateway/offline.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/gateway/rolling/%d{yyyy-MM-dd}.%i/offline.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="notify" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/gateway/notify.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/gateway/rolling/%d{yyyy-MM-dd}.%i/notify.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>


    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="online"/>
        <appender-ref ref="offline"/>
        <appender-ref ref="common"/>
    </root>


    <logger name="co.attractpay.gateway" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <!-- 删除start -->
    <logger name="stress" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>
    <!-- 删除end -->
</configuration>
